*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: linear-gradient(90deg, lightblue, purple,blue);
}

.row{
    display: flex;
    justify-content: center;
}

#signup{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px 30px;
    margin-top: 50px;
    background-color: white;
}

label{
    font-size: 17px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    width: 100%;
    font-size: 16px;
    padding: 5px;
}

.form-item{
    margin: 15px 0px;
}

input[type='submit']{
    background-color:lightgreen;
    border: none;
    outline: none;
    border-radius: 10px;
}

input[type='submit']:hover{
background-color: rgb(70, 224, 70);
}

#login{
    padding: 30px;
    margin-top: 60px;
    background-color: rgb(190, 209, 239);
    border-radius: 20px;
}

.uygunsuz{
    border: 2px solid red;
}

.uygun{
    border: 2px solid green;
}